
.loginBox{
    width:280px;
    height:70%;
    position:absolute;
    top:10%;
    left:50%;
    margin-left: -140px;
}
.inputArea{
    margin-top: 30px;
}
.btn_submit{
    width:280px;
    height:50px;
    margin-top: 50px;
}
.info{
    color: #2fcaff;
}
.jumpLogin{
    display: block;
    float: right;
    margin-top: 15px;
}