
.positionBox{
    width:280px;
    height:70%;
    position:absolute;
    top:10%;
    left:50%;
    margin-left: -140px;
}
.text.name{
    width:100%;
}
.position-info{
    display: block;
    margin-top: 15px;
    width:112px;
}
.btn_submit{
    width:280px;
    height:50px;
    margin-top: 15px;
    border:1px solid #d9d9d9;
}
.jobBox,.jobBox1{
    display: inline-block;
    margin-top: 30px;
}
.jobBox1{
    margin-left: 114px;
}
.jobCheck{
    display:inline-block;
    opacity: 0;
    filter:alpha(opacity=0);
    margin-left: -13px;
}
label.radio{
    display: inline-block;
    background: url(../../images/sprite/h5_radios.png ) no-repeat;
    padding-left: 25px;
    height:25px;
}
input[type='radio']:checked+label.radio{
    background: url(../../images/sprite/h5_selected.png ) no-repeat;
}