.joinImg{
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
.successBox{
    width:80%;
    margin: 0 auto;
}
.successText{
    margin-top: 34px;
}
.successText > p{
    margin-top: 20px;
    text-align: center;
}
.p1{
    font-size: 18px;
    font-weight:bold;
    font-family:"Microsoft YaHei",微软雅黑;
    color: #333;
}
.p2{
    font-size: 15px;
    color: #999;
}
.btn_submit{
    display: block;
    width:280px;
    height:50px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #2fcaff;
}