{{#section 'head'}}
    <link type="text/css" rel="stylesheet" href="{{@static_url}}/resource/styles/passport/register.css" />
{{/section}}
{{#section 'foot'}}
    <script src="{{@static_url}}/passport/findpwd/vendor.bundle.js"></script>
    <script src="{{@static_url}}/passport/findpwd/bundle.js"></script>
{{/section}}

<div id="findpwd-entry" class="root">

</div>