{{#section 'head'}}
    <link type="text/css" rel="stylesheet" href="{{@static_url}}/resource/styles/passport/login.css" />
{{/section}}
{{#section 'foot'}}
    <script src="{{@static_url}}/passport/login/vendor.bundle.js"></script>
    <script src="{{@static_url}}/passport/login/bundle.js"></script>
{{/section}}

<div id="login-entry" class="root">

</div>