{{#section 'head'}}
    <link type="text/css" rel="stylesheet" href="{{@static_url}}/resource/styles/passport/register.css" />
{{/section}}
{{#section 'foot'}}
    <script src="{{@static_url}}/passport/register/vendor.bundle.js"></script>
    <script src="{{@static_url}}/passport/register/bundle.js"></script>
{{/section}}

<div id="register-entry" class="root">

</div>