{{#section 'head'}}
    <link type="text/css" rel="stylesheet" href="{{@static_url}}/resource/styles/index/index.css" />
{{/section}}
{{#section 'foot'}}
    <script type="text/javascript">
        window.static_url = "{{@static_url}}" ;
    </script>
    <script src="{{@static_url}}/index/vendor.bundle.js"></script>
    <script src="{{@static_url}}/index/bundle.js"></script>
{{/section}}

<div id="saas-entry" class="root">

</div>

