<footer class="footer">
    <ul class="tabs">
        <li>关于我们</li>
        <div class="vertical"></div>
        <li>服务协议</li>
        <div class="vertical"></div>
        <li>意见反馈</li>
    </ul>

    <span class="beian">沪ICP备案09003861号</span>

</footer>